apiVersion: v1
kind: Service
metadata:
  name: lorenzo-01-service
  namespace: lorenzo-01-namespace
  labels:
    app: student-api
spec:
  type: NodePort
  selector:
    app: student-api
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 9090
    nodePort: 30094
